.user_card {
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 4px 4px 0 0 #999;
    padding: 8px 16px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.text_input {
    font-size: 20px;
    padding: 3px;
}
.btn {
    background-color: #666;
    padding: 4px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
}
.btn:hover {
    background-color: #888;
    color: black;
}
